.main{
  width: 100%;
  height: 100%;
  .header-con{
    margin-left: 3px;
    padding-left: 0;
    padding-right: 0;
    background: url(~@/assets/images/logo-bg.png);
    background-size: contain;
    width: 99.5%;
    height: 64px;
    .logo {
      width: 100%;
      height: 64px;
    }
  }
  .content-wrapper{
    height: ~"calc(100% - 5px)";
    overflow: auto;
  }
}
